[submodule "Project6/cs2210proj6fa23-AndersonLevasseur"]
	path = Project6/cs2210proj6fa23-AndersonLevasseur
	url = https://github.com/CedarvilleCS2210/cs2210proj6fa23-AndersonLevasseur.git
[submodule "TermProject/cs2210proj7fa23-AndersonLevasseur"]
	path = TermProject/cs2210proj7fa23-AndersonLevasseur
	url = https://github.com/CedarvilleCS2210/cs2210proj7fa23-AndersonLevasseur.git
[submodule "TermProject/cs2210termprojectfa23-AndersonLevasseur"]
	path = TermProject/cs2210termprojectfa23-AndersonLevasseur
	url = https://github.com/CedarvilleCS2210/cs2210termprojectfa23-AndersonLevasseur.git
